<h1 style="text-align:center;">★bird by rocket★</h1>

<br>
<p>Hello! I'm Mariah and this is birdbyrocket, a place on the internet for writing experiments and whatever else I can think of.
<p>Below are links to things I'm doing outside of this site. 
<br>
<br>
<p><a href="https://archive.org/details/@meppes">Finished writing projects available on the Internet Archive.</a></p>
<p><a href="https://mariaheppes.itch.io/">Interactive text on itch.io.</a></p>
<p><a href="https://www.brinkliterary.com/">Brink Literary, a journal of hybrid writing.</a></p>
<br>
<p>I can be reached at birdbyrocket at gmail dot com.