<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
  <p><%= link_to "new post", new_post_path %></p>
  <% end %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "show this post", post %>
    </p>
  <% end %>
</div>
